<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Shopping Cart</title>
<link href="styles/recipe.css" rel="stylesheet">
</head>
<body ng-controller="todoList">
<div class="wrapper">
	<article class="magic-layout">
   		<div class="row">
        <input type="text" ng-model="addNewName">
        <input type="button" value="Add"  ng-click="addNewItem(addNewName)" class="btn add" />  
        <input type="button"  value="Delete All" ng-click="deleteAll(parent.data)" class="btn delete"/>     
        <br><br>    
          <hr/>          
             <ul class="todo-list">
			<li ng-repeat="data in collections track by $index" ng-class="{'task-done': data.checked}">
            <label>
            <input type="checkbox" ng-model="data.checked" ng-change="isChangeCheck()" >
			<a> <span ng-bind="data.name"></span></a>
            </label>  
            <a href="#" class="delete-btn" ng-click="deleteUser(data)" ng-show="data.checked">Delete Task</a>                    
			</li>
			</ul>  
            <p>Archive : <span ng-bind="list.length||0"></span></p>      		
        </div>
  </article>
</div>
<div data-role="notify" id="showMe" ng-if="alertMessage">
<p><span ng-bind="userName"></span>  has been added in the List.</p> 
</div>
<script src="libs/require.js"  data-main="app/config.js"></script> 
</body>
</html>
